.p-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    padding: var(--space-16px);
    border-right: 0.1rem solid var(--shadow-color);
    width: 245px;
}
.p-sidebar-navItem {
    display: flex;
    border-radius: var(--space-12px);
    flex-direction: row;
    align-items: center;
    gap: var(--space-16px);
    padding: var(--space-12px);
    margin-top: var(--space-2px);
    margin-bottom: var(--space-2px);
    cursor: pointer;
}

.p-sidebar-navItem.selected {
    background-color: #f0f0f0;
    font-weight: bold;
  }

.p-sidebar-navItem:not(:first-child):hover {
    background-color: var(--shadow-color);
}