.p-reactions {
    padding: var(--space-12px) 0px var(--space-12px) 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.p-reactions-action {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: var(--space-12px);
}